{% extends "tasks/base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Users" %}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% trans "Username" %}</th>
          <th scope="col">{% trans "Full Name" %}</th>
          <th scope="col">{% trans "Data Joined" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td scope="row">{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>
              <a href="{% url 'update-user' user.id %}">{% trans "Update" %}</a>
	      <br>
              <a href="{% url 'delete-user' user.id %}">{% trans "Delete" %}</a>
	    </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
